[submodule "GumaEngine/Plugins"]
	path = GumaEngine/Plugins
	url = https://github.com/gabime/spdlog
[submodule "GumaEngine/Plugins/GLFW"]
	path = GumaEngine/Plugins/GLFW
	url = https://github.com/TheCherno/glfw
